<div class="data-form">
  <form method="POST" action="<%=`/events/${event._id}/update?_method=PUT`%>">
    <h2>Edit event:</h2>
    <label for="inputTitle">Title</label>
    <input
      type="text"
      name="title"
      id="inputTitle"
      value="<%= event.title %>"
      placeholder="Title"
      autofocus
      required
    />
    <label for="inputDescription">Description</label>
    <input
      type="text"
      name="description"
      id="inputDescription"
      value="<%= event.description %>"
      placeholder="Description"
      required
    />
    <label for="inputLocation">Location</label>
    <input
      type="text"
      name="location"
      id="inputLocation"
      value="<%= event.location %>"
      placeholder="Location"
      required
    />
    <label for="inputStartDate">Start Date</label>
    <input
      type="datetime-local"
      name="startDate"
      id="inputStartDate"
      value="<%= event.startDate.toISOString().slice(0, 16) %>"
      required
    />
    <label for="inputEndDate">End Date</label>
    <input
      type="datetime-local"
      name="endDate"
      id="inputEndDate"
      value="<%= event.endDate.toISOString().slice(0, 16) %>"
      required
    />
    <label for="inputIsOnline">Is Online?</label>
    <input
      type="checkbox"
      name="isOnline"
      id="inputIsOnline"
      <% if (event.isOnline) { %>checked<% } %>
    />
    <label for="inputRegistrationLink">Registration Link</label>
    <input
      type="text"
      name="registrationLink"
      id="inputRegistrationLink"
      value="<%= event.registrationLink %>"
      placeholder="Registration Link"
    />
    <% if (loggedIn) {  %> 
      <button type="submit">Update</button>
    <%} else {%>
      Please log in to edit this event.
    <% } %>
  </form>
</div>