<h2>Events Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Registration Link</th>
    </tr>
  </thead>
  <tbody>
    <% events.forEach(event => { %>
    <tr>
      <td>
        <a href="<%= `/events/${event._id}` %>"> <%= event.title %> </a>
      </td>
      <td><%= event.description %></td>
      <td><%= event.location %></td>
      <td><%= event.registrationLink %></td>
      <% if (loggedIn) {  %> 
        <td>
          <a href="<%=`/events/${event._id}/edit` %>"> Edit </a>
        </td>
      <td>
        <a
          href="<%= `events/${event._id}/delete?_method=DELETE` %>"
          onclick="return confirm('Are you sure you want to delete this record?')"
          >Delete</a>
      </td>
      <td>
        <a href="<%= `events/${event._id}/attend` %>">Attend</a>
      </td>
      <%} %>
    </tr>
    <% }); %>
  </tbody>
</table>
<% if (loggedIn) {  %> 
<div>
  <a href="/events/new">Create a new event</a>
</div>
<% } %>
